<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.binwell.university.MyWasteDriver" android:installLocation="preferExternal" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:targetSdkVersion="27" android:minSdkVersion="19" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
	<uses-permission android:name="com.dev.cromer.jason.coverme.permission.MAPS_RECEIVE" />
	<application android:label="MyWasteDriver" android:icon="@drawable/icon">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyDJ5OvKyLiF59CsnfI229J8l9mAGr13w8w" />
	</application>
</manifest>